db_config.py
db_password.py
local_settings.py
devel_settings.py
*.pyc
*.pyd
*.so
*.swp
.svn
*~
build
*.egg-info
dist
deploy
pip-log.txt
.achievements
.coverage
.bzr
.bzrignore
*.pickle
*.pickle.gz
*.psql
conceptnet_zh_*.txt
db
*~
